name: Core 1

on:
  schedule:
    - cron: "*/10 * * * *"
jobs:
  coreTest:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
       TEST: 'testEscho'

    steps:
    - name: 1 core
      run: sudo apt-get install stress-ng&&sudo stress-ng --cpu 1 --yaml test.yml --cpu-method matrixprod --metrics-brief -t 60
    
    - name: 2 core
      run: sudo apt-get install stress-ng&&sudo stress-ng --cpu 2 --yaml test2.yml --cpu-method matrixprod --metrics-brief -t 60

    - name: cp-report
      run: mkdir wiki&&cp test.yml wiki/cpu_`date +"%d-%m-%Y-%H-%M"`&&cp test2.yml wiki/cpu_`date +"%d-%m-%Y-%H-%M"`
    - name: Upload report in artifacts
      uses: actions/upload-artifact@v3.1.0
      if:   always()
      with:
        name: test-report-date-${{ steps.time.outputs.time }}-run-${{ github.run_number }}
        path: wiki/*.yml
  
    - name: Upload Documentation to Wiki
      uses: SwiftDocOrg/github-wiki-publish-action@v1
      with:
          path: "wiki"
      env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
        
    - name: Push Wiki Changes
      uses: Andrew-Chen-Wang/github-wiki-action@v3
      env:
        # Make sure you have that / at the end. We use rsync 
        # WIKI_DIR's default is wiki/
        WIKI_DIR: wiki/
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_MAIL: ${{ secrets.YOUR_EMAIL }}
        GH_NAME: ${{ github.repository_owner }}
        EXCLUDED_FILES: "a/ b.md"
    - name: ls
      run: ls&&pwd&&echo $TEST&&declare -p&&cat test.yml
